
*{
  margin:0;
  padding:0;
text-decoration:none ;
box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
     width: 100%;
          font-family: sans-serif;
         
       
          background-color:#e1d9d1;
          scroll-behavior:smooth;
        
  }
  .mob{
      height: 39px;
      background-color:rgba(162, 1, 199, 0.952);
   position: fixed;
      width: 100%;
   
  }
.desk{
  height: 39px;
  background-color:rgba(162, 1, 199, 0.952);
  width: 100%;
  position: fixed;
}

.container nav.desk
.container nav.mob{
  width:100%;
  height:50px; 
  
  }

.logo{
  font-size: xx-large;
  color: gold;
  font-weight: bolder;
  font-style: italic;
}

nav.desk ul li a {
padding: 7px;
line-height: 40px;
color: white;
font-size: 20px;
      }

.desk ul {
   float:right ;
  }

.desk ul li{
  
 
 display: inline-block;
  text-transform:uppercase;
  cursor:pointer;
  transition:all 0.5s ease;
  }


nav  li:hover{

 color: black;
  background-color:#9d037ce9;
  font-size:20px;
  
  }
 
  nav  li a:hover{

 
      background-color:red;
      color: black;
      font-size:20px;
      
      }

nav ul li a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  
  }

nav.mob,
.toggle{
  display:none;
  position:static;
  }

@media screen and (max-width:576px){

nav.desk{    
  display:none;
  }

 nav.mob{
position: fixed;
  }
}

nav.mob,
.toggle{
  display:inline-block;   


  }
  
.toggle{

  float:right;
  font-size:38px;
  margin-right:15px;
  margin-top:-20px;

  }
  
.toggle.fa-bars,
.toggle.fa-times{

 
  color:black;
  cursor:pointer;
 
  
  }
  
.mob ul{
  margin-top:10px;
  background:blue;
  color: white;
  display:none;

  }
  
.mob li{
  text-transform:uppercase;
  text-align:center;
  padding:2px;
  cursor:pointer;
  
 
  }
  
.mob ul.active{
  display:block;
}

.mode:hover{
    
  background-color:black;
  color: white;
}
.mode
{
float: right;
cursor:grab;
position:relative;

font-size: 30px;
  background-color:white;
 
}

.class:hover{
  color: red;
  background-color:white;
}

.class{
  color: white;
  background-color:purple;
  font-size: 23px;
}
/*order form */
.popup{
 position: relative;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
align-content: center;
justify-content: center;
}
.popup-content{
  width: 100%;
  height: 650px;
    background-color:#1717f2c4;
  box-sizing: border-box;
color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes scalein {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  head {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 30px 25px;
    padding-bottom: 0;
    border-bottom: 0.5mm solid rgba(231, 59, 59, 0.568);
  }
  

  
  .main-btn:hover{
    background-color: purple;
    color: red;
  }
  .main-btn{
    width: fit-content;
  height: fit-content;
  font-family:poppins;
  font-size: 20px;
  font-weight: bold;
  color: purple;
  background-color: lime;
  padding:5px 10px ;
  outline: white;
  border-radius: 3mm;
  cursor: pointer;
  border-color: gold;
  
  
  }
  .butt{
    width: fit-content;
  height: fit-content;
  font-family:poppins;
  font-size: 22px;
  font-weight: bold;
  color:rgb(243, 219, 6);
  background-color:rgb(167, 4, 132);
  padding:5px 10px ;
  outline: white;
  border-radius: 3mm;
  cursor: pointer;
  border-color: gold;
  
  }
  #butt{
    width: fit-content;
  height: fit-content;
  font-family:poppins;
  font-size: 22px;
  font-weight: bold;
  color:white;
  background-color:red;
  padding:5px 10px ;
  outline: white;
  border-radius: 3mm;
  cursor: pointer;
  border-color: white;
  display: none;
  
  }

  label{
    font-size: 25px;
    color:yellow;
    font-weight: bold ;
   
  }
  select{
    font-size:25px;
  
    }
  input{
  font-size:25px;
/*order form */
  }
  radio button{
  font-size:32px;
  }



a{
  font-size:x-large;
  font-weight: bold;
}
b{
  font-size:x-large;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-style: italic;
color: red;
}
li{
  font-size:x-large;
  font-weight: bold;
}
h{
  font-size:x-large;
  font-weight: bolder;
  color:rgb(126, 0, 244);
}
a{
  font-size:x-large;
  font-weight: bold;
}
sectionfour{
  text-align: center;
}
section1{
  text-align: center;
  background:black;
}
/* our service */
.box{
    
  background-color:white;
  height:260px;
  width: 100%;
  border-color:green;
  border-style:solid;
  border-radius:10px;
}
section1{
text-align:center;  
}

h3{ 
  color:purple;
  font-size:xx-large ;
  
}
x{
  font-size:22px;
  font-weight: bolder;
  color: red;
}
p{
  font-size:100%;
  font-weight:bold;
  font-style:italic ;
}

.img{
background-color:transparent ; 
width: 90px;
border-radius:100%; 
  
}

.box:hover {
background-color:green; 
transition-duration:2s;
color:white;
  
}


.box:hover x{
  color:white;
  background-color: purple;

  }
  

.box:hover p{
color:black;

}
form{
  display: inline-block;
  height:310px;
  color: black;
  font-weight: bold;
  width: 100%;
  font-size: x-large;
  border-radius: 3mm;
  padding: 5px;
  margin: 5px;
  background-color:rgb(232, 201, 28);
box-sizing: border-box;
  }
   /* icon */
.fa {
    padding: 15px;
width: 70px;
   height: 50px;
   text-align: center;

    text-decoration:dashed;
    margin: 5px 2px;
  }

.fa-facebook{

background:#3f67b7;
color: white;

}
.fa-youtube{
background: #bb0000;
color: white;
}
.fa-twitter{
background: #55acee;
}
.fa-github{
background:black;
color: white;

}
.fa-whatsapp{
background:green;
color: white;

  }
.fa-google{
color: white;
background-color:black;
}
/*team box1*/
.box1{
    
    background-color:antiquewhite;
    height:260px;
    width: 230px;
    border-color:rgb(45, 0, 128);
    border-style:solid;
    border-radius:10px;
    margin: 1px;
    display: inline-block;
  }
  .box1:hover {
    background-color:lawngreen; 
    transition-duration:1s;
    color:white;
      
    }

